* {
    cursor: url(p.png), auto;
  }
  

  html, body, #root, .homepage-container {
    height: 100%;
    margin: 0;
  }
  
  .homepage-container {
    background-color: lightblue;
    width: 100%;
    height: 100vh; /* Full viewport height */
  }
  